
body{
  margin: 0;
  padding: 0;
  text-align: center;
}

#skills{
  margin: 0 auto;
  text-align: left;
}

.wrapper{
  display: grid;
  grid-template:
  "header header"
  "nav nav"
  "main main"
  "footer footer";
  background-color: #e2e2e2;
}

header{
  grid-area: header;
  overflow: auto;
  text-align: center;
  /* text-indent: 100px; */
  align-items: center;
  color: #ffffff;
  background-color: #0f1618;
  padding: 1.5%;
  background-image: url(../public/logo512.png);
  background-size: contain;
  background-repeat: no-repeat;
}
header h1{
  /* float: right; */
  padding-right: 8%;
  margin: 0;
}

nav{
  grid-area: nav;
  margin: 0;
  color:#ffffff;
  background-image: linear-gradient(to top right,#4d3535,#0f1618);
  margin: 0;
}

main{
  grid-area: main;
  padding: 2%;
  
}
#home{
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
#home img{
  padding-right: 20%;
}
#home h1{
  font-size: 3em;
  border: 1px solid #000000;
  border-radius: 10%;
}

#skills{
  overflow: auto;
  align-items: center;
}

#skills h1{
  text-align: center;
  font-size: 3em;
  border: 1px solid #000000;
  border-radius: 10%;
}
#education{
  overflow: auto;
  align-items: center;
}
#education h1{
  text-align: center;
  font-size: 3em;
  border: 1px solid #000000;
  border-radius: 10%;
}
#education img{
  float: right;
}


footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #0f1618;
  padding: 1%;
  text-align: center;
  border-radius: 15px;
}

nav a{
  color: #ffffff;
  text-decoration: none;
}
nav a:hover{
  color: #352d4e;
  background-color: #ffffff;
  border: 3px solid #000000;
}
nav ul{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}
nav ul li{
  padding:0 2% 0 2%;
  display: inline;
}